@using Financee.Models
@using Microsoft.AspNetCore.Identity
@model Financee.Common.ViewModels.MoneyFlowViewModel
@inject SignInManager<FinanceeUser> SignInManager
@inject UserManager<FinanceeUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Сметки";
}
@if (SignInManager.IsSignedIn(User))
{
    <partial name="~/Views/Partials/_Headers.cshtml" />
    <!-- ACTIONS -->
    <section id="action" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary btn-block" asp-controller="Reports" asp-action="AddExpenditure">
                        <i class="fa fa-plus"></i> Добави Разход
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-success btn-block" asp-controller="Reports" asp-action="AddIncome">
                        <i class="fa fa-plus"></i> Добави Приход
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
                        <i class="fa fa-plus"></i> Add User
                    </a>
                </div>
            </div>
        </div>
    </section>
    <partial name="~/Views/Partials/_MonthlyReport.cshtml" , model="Model" />

    <footer id="main-footer" class="bg-dark text-white">
        <partial name="~/Views/Partials/_Footers.cshtml"/>
    </footer>

    <!-- USER MODAL -->
    <div class="modal fade" id="addUserModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-warning text-white">
                    <h5 class="modal-title">Add User</h5>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Confirm Password</label>
                            <input type="password" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor1');
    </script>
}
else
{
    <div class="jumbotron mt-3 py-4 mb-4 bg-dark">
        <h1 class="text-white">Welcome to PANDA Delivery Services.</h1>
        <hr class="bg-white" />
        <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Login">Влез</a> ако имаш акаунт.</h3>
        <h3 class="text-white"><a asp-area="Identity" asp-page="/Account/Register">Регистрирай се</a> ако нямаш.</h3>
    </div>
}