
@{
    ViewData["Title"] = "Сметки по месец";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Partials/_Headers.cshtml" />
<section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" asp-controller="Reports" asp-action="AddExpenditure">
                    <i class="fa fa-plus"></i> Добави Разход
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success btn-block" asp-controller="Reports" asp-action="AddIncome">
                    <i class="fa fa-plus"></i> Добави Приход
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
                    <i class="fa fa-plus"></i> Add User
                </a>
            </div>
        </div>
    </div>
</section>
<partial name="~/Views/Partials/_MonthlyReport.cshtml" , model="Model" />

<footer id="main-footer" class="bg-dark text-white">
    <partial name="~/Views/Partials/_Footers.cshtml" />
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
<script>
        CKEDITOR.replace('editor1');
</script>